$accentColor: #ECC899;
$bgMainColor: #FFFFFF;
$bgSecondaryColor: #5D6678;
$textMainColor: #000;
$textSecondaryColor: #E6E6E6;
$errorColor: red;
$linkOtherColor: #969292;

$mainLightColor: #E2E2E2;
$linkColor: blue;