$accentColor: #ECC899;
$bgMainColor: #FFFFFF;
$bgSecondaryColor: #8592AB;
$textMainColor: #000;
$textSecondaryColor: #E6E6E6;
$errorColor: red;
$btnSecondaryColor: #08c;
$btnHoverSecondaryColor: #0073ad;
$btnSwiperColor: #5D6678;

$mainLightColor: #E2E2E2;
$linkColor: blue;
$linkOtherColor: #969292;