%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-angle-down:before {
  content: "\e900";
}
._icon-angle-left:before {
  content: "\e901";
}
._icon-angle-right:before {
  content: "\e902";
}
._icon-angles-down:before {
  content: "\e903";
}
._icon-angles-left:before {
  content: "\e904";
}
._icon-angles-right:before {
  content: "\e905";
}
._icon-angles-up:before {
  content: "\e906";
}
._icon-angle-up:before {
  content: "\e907";
}
._icon-arrow-down:before {
  content: "\e908";
}
._icon-arrow-down-long:before {
  content: "\e909";
}
._icon-arrow-left:before {
  content: "\e90a";
}
._icon-arrow-left-long:before {
  content: "\e90b";
}
._icon-arrow-right:before {
  content: "\e90c";
}
._icon-arrow-right-long:before {
  content: "\e90d";
}
._icon-arrow-up:before {
  content: "\e90e";
}
._icon-arrow-up-long:before {
  content: "\e90f";
}
._icon-basket-shopping:before {
  content: "\e910";
}
._icon-bookmark:before {
  content: "\e911";
}
._icon-calendar:before {
  content: "\e912";
}
._icon-calendar-days:before {
  content: "\e913";
}
._icon-check:before {
  content: "\e914";
}
._icon-chevron-down:before {
  content: "\e915";
}
._icon-chevron-left:before {
  content: "\e916";
}
._icon-chevron-right:before {
  content: "\e917";
}
._icon-chevron-up:before {
  content: "\e918";
}
._icon-circle:before {
  content: "\e919";
}
._icon-circle-arrow-down:before {
  content: "\e91a";
}
._icon-circle-arrow-left:before {
  content: "\e91b";
}
._icon-circle-arrow-right:before {
  content: "\e91c";
}
._icon-circle-arrow-up:before {
  content: "\e91d";
}
._icon-circle-check:before {
  content: "\e91e";
}
._icon-circle-chevron-left:before {
  content: "\e91f";
}
._icon-circle-chevron-right:before {
  content: "\e920";
}
._icon-circle-chevron-up:before {
  content: "\e921";
}
._icon-circle-down:before {
  content: "\e922";
}
._icon-circle-left:before {
  content: "\e923";
}
._icon-circle-question:before {
  content: "\e924";
}
._icon-circle-right:before {
  content: "\e925";
}
._icon-circle-up:before {
  content: "\e926";
}
._icon-circle-xmark:before {
  content: "\e927";
}
._icon-clipboard:before {
  content: "\e928";
}
._icon-clock:before {
  content: "\e929";
}
._icon-copyright:before {
  content: "\e92a";
}
._icon-email:before {
  content: "\e92b";
}
._icon-envelope:before {
  content: "\e92c";
}
._icon-facebook:before {
  content: "\e92d";
}
._icon-facebook-f:before {
  content: "\e92e";
}
._icon-facebook-messenger:before {
  content: "\e92f";
}
._icon-git:before {
  content: "\e930";
}
._icon-github:before {
  content: "\e931";
}
._icon-hashtag:before {
  content: "\e932";
}
._icon-house-chimney:before {
  content: "\e933";
}
._icon-house-user:before {
  content: "\e934";
}
._icon-instagram:before {
  content: "\e935";
}
._icon-instagram-f:before {
  content: "\e936";
}
._icon-linkedin:before {
  content: "\e937";
}
._icon-linkedin-in:before {
  content: "\e938";
}
._icon-location-arrow:before {
  content: "\e939";
}
._icon-location-dot:before {
  content: "\e93a";
}
._icon-location-pin:before {
  content: "\e93b";
}
._icon-magnifying-glass:before {
  content: "\e93c";
}
._icon-map-location:before {
  content: "\e93d";
}
._icon-map-location-dot:before {
  content: "\e93e";
}
._icon-paper-plane-solid:before {
  content: "\e93f";
}
._icon-patreon:before {
  content: "\e940";
}
._icon-pen-to-square:before {
  content: "\e941";
}
._icon-phone:before {
  content: "\e942";
}
._icon-phone-flip:before {
  content: "\e943";
}
._icon-phone-volume:before {
  content: "\e944";
}
._icon-pinterest:before {
  content: "\e945";
}
._icon-pinterest-p:before {
  content: "\e946";
}
._icon-right-long:before {
  content: "\e947";
}
._icon-rotate:before {
  content: "\e948";
}
._icon-rotate-right:before {
  content: "\e949";
}
._icon-square:before {
  content: "\e94a";
}
._icon-square-arrow-up-right:before {
  content: "\e94b";
}
._icon-square-caret-down:before {
  content: "\e94c";
}
._icon-square-caret-left:before {
  content: "\e94d";
}
._icon-square-caret-right:before {
  content: "\e94e";
}
._icon-square-caret-up:before {
  content: "\e94f";
}
._icon-square-check:before {
  content: "\e950";
}
._icon-square-mail:before {
  content: "\e951";
}
._icon-square-facebook:before {
  content: "\e952";
}
._icon-square-git:before {
  content: "\e953";
}
._icon-square-github:before {
  content: "\e954";
}
._icon-square-instagram:before {
  content: "\e955";
}
._icon-square-phone:before {
  content: "\e956";
}
._icon-square-phone-flip:before {
  content: "\e957";
}
._icon-square-up-right:before {
  content: "\e958";
}
._icon-square-whatsapp:before {
  content: "\e959";
}
._icon-square-xmark:before {
  content: "\e95a";
}
._icon-square-youtube:before {
  content: "\e95b";
}
._icon-star:before {
  content: "\e95c";
}
._icon-star-half-stroke:before {
  content: "\e95d";
}
._icon-tenchat:before {
  content: "\e95f";
}
._icon-telegram:before {
  content: "\e960";
}
._icon-square-telegram:before {
  content: "\e961";
}
._icon-thumbs-down:before {
  content: "\e962";
}
._icon-thumbs-up:before {
  content: "\e963";
}
._icon-trash-can:before {
  content: "\e964";
}
._icon-up-long:before {
  content: "\e965";
}
._icon-user:before {
  content: "\e966";
}
._icon-user-large:before {
  content: "\e967";
}
._icon-user-minus:before {
  content: "\e968";
}
._icon-user-plus:before {
  content: "\e969";
}
._icon-users:before {
  content: "\e96a";
}
._icon-users-between-lines:before {
  content: "\e96b";
}
._icon-users-line:before {
  content: "\e96c";
}
._icon-viber:before {
  content: "\e96d";
}
._icon-vk:before {
  content: "\e96e";
}
._icon-square-vk:before {
  content: "\e96f";
}
._icon-whatsapp:before {
  content: "\e970";
}
._icon-wordpress:before {
  content: "\e971";
}
._icon-wordpress-simple:before {
  content: "\e972";
}
._icon-x:before {
  content: "\e973";
}
._icon-xmark:before {
  content: "\e974";
}
._icon-yandex:before {
  content: "\e975";
}
._icon-yandex-international:before {
  content: "\e976";
}
._icon-youtube:before {
  content: "\e977";
}
