//about
.about {  
	padding: 0;
   background: url("../img/bg-about-80-2.jpg") center / cover no-repeat;	
   
   &__wrapper {
      padding: 70px 0 40px;

		@media (max-width: $tablet) {
			padding: 40px 0 30px;
		}
	
		@media (max-width: $mobileSmall) {
			padding: 10px 0 0;
		}
   }

   &__content {
		display: flex;
		flex-direction: column;		
	}

	&__photo {
		width: 100%;
		height: auto;
	}

	&__subtitle {
		align-self: center;
	}

	&__img {
		width: 100%;
		height: auto;
	}

	figure {
		max-width: 600px;
		text-align: center;
		align-self: center;		
	}

	figcaption {
		padding: 0 em(20, 20);
		font-size: rem(16);		

		@media (max-width:$pc){
			font-size: calc(rem(13) + 3*((100vw - 320px) / (1200 - 320)));
   	}
	}
}