.action-block {
	padding: 0;
	background: url("../img/bg-action-40.jpg") center / cover no-repeat;
	// .action-block__wrapper
	&__wrapper {
	color: $bgMainColor;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 400px;

	@media (max-width: $pc) {
		min-height: calc(250px + 150*((100vw - 320px) / (1260 - 320)));
		}
	}

	// .action-block__subtitle

	&__subtitle {
		text-align: center;
		max-width: 850px;
		margin-bottom: 50px;

		@media (max-width: $pc) {
			margin-bottom: calc(40px + 10*((100vw - 320px) / (1260 - 320)));
		}
	}

	// .action-block__btn

	// .action-block-mb {
	// 	margin-bottom: 90px;

	// @media (max-width:$pc){
		 
	// 	 margin-bottom: calc(50px + 40*((100vw - 320px) / (1200 - 320)));
	// 	}
	// }

	// &__btn {
	// 	color: $mainColor;
	// }
}

