// Секции
section {
   padding: 170px 0 90px;

   @media (max-width:$pc) {
      padding-top: calc(100px + 70*((100vw - 320px) / (1200 - 320)));
      padding-bottom: calc(50px + 40*((100vw - 320px) / (1200 - 320)));
   }
}

// Заголовки
.title,
.subtitle {
   font-family: "Merriweather";
   text-align: center;
   text-transform: uppercase;
}

.subtitle {
   text-align: left;
}


h2 {
   font-size: rem(40);
   font-weight: 900;
   line-height: math.div(52, 40);
   margin-bottom: em(50, 40);

   @media (max-width:$pc) {
      font-size: calc(rem(27) + 13*((100vw - 320px) / (1200 - 320)));
   }
}

h3 {
   font-size: rem(28);
   font-weight: 900;
   line-height: math.div(40, 28);
   text-align: left;

   @media (max-width:$pc) {
      font-size: calc(rem(20) + 8*((100vw - 320px) / (1200 - 320)));
   }
}

// Картинки
img {
   max-width: 100%;
   object-fit: cover;
}

// Общий текст
.text {
   font-family: "Roboto";
   font-weight: 400;
   font-size: rem(20);
   line-height: 1.5;

   @media (max-width:$pc) {
      font-size: calc(rem(16) + 2*((100vw - 320px) / (1200 - 320)));
   }
}

// Ссылки тексте
.link {
   position: relative;
   display: inline-block;
   transition: color 0.3s ease;

   &::before {
      content: '';
      position: absolute;
      top: 93%;
      left: 0;
      width: 100%;
      height: 2px;
      background: $accentColor;

      @media (max-width:$mobile) {
         height: 2px;
      }
   }

   @media (any-hover: hover) {
      &:hover {
         color: $accentColor;
      }
   }
}

// Отступы
.margin-bottom-10 {
   margin-bottom: 10px;

   @media (max-width: $pc) {
      margin-bottom: calc(7px + 3*((100vw - 320px) / (1260 - 320)));
   }
}

.margin-bottom-20 {
   margin-bottom: 20px;

   @media (max-width: $pc) {
      margin-bottom: calc(15px + 5*((100vw - 320px) / (1260 - 320)));
   }
}

.margin-bottom-30 {
   margin-bottom: 30px;

   @media (max-width: $pc) {
      margin-bottom: calc(20px + 10*((100vw - 320px) / (1260 - 320)));
   }
}

.margin-bottom-40 {
   margin-bottom: 40px;

   @media (max-width: $pc) {
      margin-bottom: calc(25px + 15*((100vw - 320px) / (1260 - 320)));
   }
}

.margin-bottom-50 {
   margin-bottom: 50px;

   @media (max-width: $pc) {
      margin-bottom: calc(30px + 20*((100vw - 320px) / (1260 - 320)));
   }
}

.margin-bottom-60 {
   margin-bottom: 60px;

   @media (max-width: $pc) {
      margin-bottom: calc(35px + 25*((100vw - 320px) / (1260 - 320)));
   }
}

.margin-bottom-120 {
   margin-bottom: 120px;

   @media (max-width: $tablet) {
      margin-bottom: 100px;
   }

   @media (max-width: $mobileSmall) {
      margin-bottom: 50px;
   }
}

// Кнопки
.button {
   display: inline-block;
   text-transform: uppercase;
   padding: em(12, 16) em(20, 16) em(10, 16);
   border-radius: 3px;
   font-weight: 500;
   letter-spacing: 2px;
   color: $textMainColor;
}

.button-accent,
.button-back,
.button-home {
   background-color: $accentColor;
   border: 3px solid $accentColor;
   transition: color 0.3s ease,
      background-color 0.3s ease,
		transform 0.8s ease,
      opacity 0.8s ease;
}

.button-accent {
   opacity: 0;
   transform: scale(0.5);   
}

@media (any-hover: hover) {

   .button-accent:hover,
   .button-back:hover,
   .button-home:hover {
      color: $accentColor;
		font-weight: 600;
      background-color: transparent;
   }
}

.button-accent._watcher-view {
   opacity: 1;
   transform: scale(1);
}

.button-accent._watcher-view:active,
.button-home:active,
.button-back:active {
   transform: translate(1px, 2px);
   transition: transform 0.3s ease;
}

// Обтекание текстом
.float-left {
   float: left;
   margin: 0 em(20, 20) em(10, 20) 0;

   @media (max-width:$mobileSmall) {
      margin: 0 em(15, 20) em(10, 20) 0;
   }
}

.float-right {
   float: right;
   margin: 0 0 em(10, 20) em(20, 20);

   @media (max-width:$mobileSmall) {
      margin: 0 0 em(10, 20) em(15, 20);
   }
}

// .float-left, .float-right {
// 	@media (max-width:$mobileSmall){
// 		clear: both; 
// 		margin: 0 0 20px;
// 	}
// }

.clearfix {
   display: flow-root;
}

.img-box {
   width: 20%;

   @media (max-width:$tablet) {
      width: 35%;
   }

   @media (max-width:$mobileSmall) {
      width: 40%;
   }
}