//footer
.footer {
	padding: em(15, 20) 0;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 90px;
   background-color: $bgSecondaryColor; 
	color: $bgMainColor;
   
   span {
      font-weight: 500;
   }

	&__content {
		display: flex;
		flex-direction: column;
		align-items:center;
	}

	&__text {
		text-align: center;
		font-size: rem(16);

		@media (max-width:$pc){
			font-size:  calc(rem(13) + 3*((100vw - 320px) / (1200 - 320)));
		}
	}

	&__text--small {
		font-size: rem(14);
		margin-top: em(15, 14);

		@media (max-width:$pc){
			font-size:  calc(rem(12) + 2*((100vw - 320px) / (1200 - 320)));
		}
	}
}

.chatme {
	display: flex;
	justify-content: end;
	position: fixed;
	z-index: 9;
	bottom: 80px;
	right: 45px;
	width: 82px;
	height: 65px;
	border-radius: 33px;

	@media (max-width: $mobile) {
		right: 25px;
		bottom: 40px;
	}

	@media (max-width: $mobileSmall) {
		right: 10px;
		bottom: 50px;
	}
}

.chatme__link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.chatme__icon {
	will-change: transform, opacity;
	width: 65px;
	height: 65px;
	background-color: $btnSecondaryColor;
	cursor: pointer;
	outline: 0;
	border: none;
	border-radius: 50%;
	transition: all .3s ease;
	animation: pulse 1.6s infinite;	
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(0,136,204,.85);
	}
	70% {
		box-shadow: 0 0 0 2em rgba(0,136,204,0);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(0,136,204,0);
	}
}

.chatme__icon:before, .chatme__icon::after {
	position: absolute;
	display: block;
	background-repeat: no-repeat;
	transition: opacity .5s;
}

.chatme__icon:before {
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url("../img/icons/telegram-white-icon.svg");
	background-size: 30px auto;
	background-position: calc(50% - 1px) calc(50% + 1px);
	opacity: 1;
}

.chatme__icon::after {
	content: "ЗАДАТЬ ВОПРОС";
	color: $bgMainColor;
	top: 19px;
	right: 0;
	opacity: 0;
	font-size: 11px;
	text-align: center;
	line-height: 120%;
}

@media (any-hover: hover) {
	.chatme__icon:active, .chatme__icon:hover {
		background-color: $btnHoverSecondaryColor;	
		animation: none;
	}
	.chatme__icon:hover::before {
		opacity: 0;
  }
	.chatme__icon:hover::after {
		opacity: 1;
  }
}
	
