//header
.header {
   position:absolute;
   width: 100%;
   z-index: 10;
	background-color: $bgMainColor;
	
   &__container-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
		padding: 10px 20px;
		max-width: 1400px;
      min-height: rem(80);

		@media (max-width: $pc) {
			min-height: calc(rem(70) + 10*((100vw - 768px) / (1200 - 768)));			
      }

		@media (max-width: $tablet) {
			padding: 0 15px;
		}
   }

   &__logo {
		width: 240px;
		margin-right: em(20, 14);

		@media (max-width: $mobile) {
			width: calc(210px + 40*((100vw - 768px) / (1200 - 768)));
      }
	}
	 
	&__logo img {
		width: 100%;
		aspect-ratio: 240/54;
		vertical-align: baseline;
	}
   
   .menu {
      &__body {
         @media (max-width: $mobile) {
         position: fixed;
         top: 0;
         left: -100%;
         width: 100%;
         height: 100%;
         background-color: rgba(242,242,242, 1);
         padding: 120px 0 0;
         overflow: auto;
         transition: left 0.3s ease 0s;
         }

         .menu-open & {
            left: 0;
         }
      }     

      &__list {
         display: flex;
         align-items: center;
         justify-content: space-between;
        
         @media (max-width: $mobile) {
         flex-direction: column;
         }
      } 
      
      &__item {
         display: inline-block;
			position: relative;
      }

      &__item:not(:last-child) {
         margin-right: rem(30);

         @media (max-width: $pc) {
            margin-right: calc(rem(20) + 10*((100vw - 768px) / (1200 - 768)));
         }

         @media (max-width: $mobile) {
            margin: 0 0 em(30, 22);
            }
      }

      &__link {
			font-size: rem(14);
         padding: em(7, 14) em(7, 14) em(5, 14);
         text-transform: uppercase;
         cursor: pointer; 
         display: block;

         @media (max-width: $pc) {
            font-size: calc(rem(12) + 2*((100vw - 768px) / (1260 - 768)));
         }
         
         @media (max-width: $mobile) {
            font-size: rem(22);
            }
      } 

      &__link::before,
      &__link::after {
         content: '';
         position: absolute; 
         top: 93%;
         width: 0;    
         height: 2.7px;    
         background: $accentColor;    
         transition: 0.3s;
      }

      &__link::before {
         left: calc(50% - em(3.5, 14));      
      }

      &__link::after {
         right: calc(50% - em(3.5, 14));      
      }

		@media (any-hover: hover) {
			&__link:hover::before,
			&__link:hover::after {
				width: calc(50% - em(3.5, 14));
			}
		}    
      
      &__link._navigator-active::before, 
		&__link._navigator-active::after {
         width: calc(50% - em(3.5, 14));
      }
   }   
}

//headerScroll
._header-scroll {
   position: fixed;
   top: -200px;
	min-height: rem(70);
}

._header-show {
   transition: top 0.7s 0s;
   top: 0;
	box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

//Burger
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $mainColor;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}			
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}


