// home
.home {
	padding: 80px 0 20px;
	min-height: 100vh;
	background: linear-gradient(180deg, #323a47, #3c4451, #464e5c, #505867, #5a6272, #646d7d, #6f7888, #7a8394);
	color: $textSecondaryColor;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width:$mobile){
		padding: 70px 0 20px;
	}

	// .home__content

	&__content {
		// display: flex;
		// flex-direction: column;
	}

	// .home__offer-wrap

	// &__offer-wrap {
	// 	display: flex;
	// 	border-bottom: 3px solid $textSecondaryColor;

	// 	@media (max-width: $tablet) {
	// 		flex-direction: column-reverse;
	// 	}
	// }

	&__offer-wrap {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
		"name photo"
		"list photo"
		;

		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
			grid-template-areas: 
			"name"
			"photo"
			"list";
		}

		border-bottom: 3px solid $textSecondaryColor;
	}

	&__name-block {
		grid-area: name;
	 }

	 &__list {
		grid-area: list;
	}

	&__img-block {
		grid-area: photo;
	}


	// .home__offer

	// &__offer {
	// 	flex: 0 1 50%;
	// 	padding-top: 20px;
	// }

	&__name-block {
		padding-top: 20px;
	}

	// .home__name

	&__name {
		font-size: rem(70);
		line-height: 1.2;
		text-align: left;

		@media (max-width:$pc){
			font-size:  calc(rem(35) + 35*((100vw - 320px) / (1200 - 320)));
		}
	}

	// .home__title

	&__title {
		font-size: rem(35);
		line-height: 1.2;
		text-align: left;
		color: $accentColor;

		@media (max-width:$pc){
			font-size:  calc(rem(21) + 14*((100vw - 320px) / (1200 - 320)));
		}
	}

	// .home__img-block

	&__img-block {
		justify-self: end;
		align-self: end;		
	}

	// .home__img-wrap

	&__img-wrap {
		// flex: 0 1 50%;
		max-width: 590px;

		// @media (max-width:$mobileSmall){
		// 	max-width: 330px;
		// }

		@media (max-width:$pc) {
			max-width:  330px + 260*((100vw - 320px) / (1200 - 320));
		}
	}

	// .home__img
	&__img {
		width: 100%;
		object-fit: cover;
		aspect-ratio: 585/490;
		vertical-align: text-bottom;
	}
}

.list {
	@media (max-width:$tablet){
		border-top: 3px solid $textSecondaryColor;
		padding-top: em(20, 20);
	}

		// .list__item

	&__item {
		display: flex;		
	}

	svg {
		position: relative;
		top: 4px;
		flex-shrink: 0;
		height: 20px;
		width: 20px;
		margin-right: 4px;
		fill: $accentColor;
	}
}

.action {
	text-align: center;
	
	&__text {
	font-weight: 500;
	font-size: rem(25);
	margin-bottom: 40px;

	@media (max-width:$pc){
		font-size:  calc(rem(20) + 5*((100vw - 320px) / (1200 - 320)));
   	}
		margin-bottom: calc(10px + 30*((100vw - 320px) / (1200 - 320)));
	}
}


