//reviews
.reviews {
   
   &__description {
      position: relative;
   }

   &__video-box {
      overflow: hidden;
      width: 50px;
      height: 50px;
      display: none;
      position: absolute;
      bottom: -25px;
      right: 0;

      @media (max-width: $mobileSmall) {
         display: inline-block;
      }
   }

   // Дополнительно прописываем стили swiper
   &__slider.swiper {
      padding: 50px 40px 0;

      @media (max-width: $mobileSmall) {
         padding: 35px 0 0;
      }

      &__image {
         text-align: center;
         overflow: hidden;
         width: 100%;
         max-width: 350px;
         aspect-ratio: 350/680;
      }

      &__img {
         width: 100%;
         height: auto;
      }

      .swiper-button-next,
      .swiper-button-prev {
         position: absolute;
         top: 50%;
         width: calc(var(--swiper-navigation-size) / 44 * 27);
         height: var(--swiper-navigation-size);
         margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
         z-index: 10;
         cursor: pointer;
         display: flex;
         align-items: center;
         justify-content: center;
         color: $linkOtherColor;

         @media (max-width: $mobileSmall) {
            display: none;
         }
      }

      .swiper-button-next.swiper-button-disabled,
      .swiper-button-prev.swiper-button-disabled {
         opacity: 0.35;
         cursor: auto;
         pointer-events: none;
      }

      .swiper-button-next:after,
      .swiper-button-prev:after {
         font-family: swiper-icons;
         font-size: var(--swiper-navigation-size);
         text-transform: none !important;
         letter-spacing: 0;
         text-transform: none;
         font-variant: initial;
         line-height: 1;
      }

      .swiper-button-prev,
      .swiper-rtl .swiper-button-next {
         left: 0px;
         right: auto;
      }

      .swiper-button-prev:after,
      .swiper-rtl .swiper-button-next:after {
         content: "prev";
      }

      .swiper-button-next,
      .swiper-rtl .swiper-button-prev {
         right: 0px;
         left: auto;
      }

      .swiper-button-next:after,
      .swiper-rtl .swiper-button-prev:after {
         content: "next";
      }
   }
}

// Меняем установленные стили стрелок
:root {
   --swiper-navigation-size: 44px;
}

